/** Edit Color here **/
* .ui-widget-header {
	background-color: #D20000;
}

.res_name {
	color: #D20000;
}

body {
	background: url("img/bg_dgame.jpg") no-repeat fixed center center #0d0d0d;
	background-size: cover;
}

#planetImage {
	width: 110px;
}

#resourceTable {
	padding-right: 295px;
}

body,
input,
button,
select,
textarea,
td,
th,
tr,
table,
a,
a:visited {
	font-family: verdana;
	font-size: 11.3px;
	color: #DDD;
}


body.mceContentBody,
input,
button,
select,
option,
textarea,
.ui-widget-content {
	background: #232d44;
}


input[type="radio"] {
	background: transparent;
	border: 0 none;
}

.new_messages {
	font-size: 13px;
	font-weight: bold;
	color: #f55;
}

.new_messages:hover {
	font-weight: bold;
	color: #e00;
}

#menu li:first-child,
#menu li:last-child {
	background-color: transparent;
}

a:hover {
	/* color: #c80000; */
	text-decoration: none
}

table {
	border-spacing: 2px;
}

table,
td,
th {
	font-weight: 400
}

.top100 td {
	font-weight: 600
}

table table,
img {
	border: 0
}

input,
select,
textarea,
#userpic,
input,
button {
	border: 1px solid #747a84;
}

td,
th input,
.tip {
	border: 1px solid rgb(73, 91, 128);
}

td,
.tip {
	text-align: center;
	background: rgb(53, 69, 102);
}

input,
button {
	text-align: center;
}

.no-spinners {
	-moz-appearance: textfield;
	width: 70%;
	min-width: 150px;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
	-webkit-appearance: none;
	width: 70%;
	min-width: 150px;
}

th,
.ui-widget-header {
	background: rgb(35, 45, 68);
	color: #FFF;
	font-weight: 700;
	text-align: left
}

.hoverable:hover td,
.hoverable:hover th {
	background: rgb(35, 45, 68);
	color: #FFF;
}

th a:hover,
.ui-widget-header a:hover,
#menu a:hover {
	color: #FFF;
}

th a:hover,
.ui-widget-header a:hover {
	text-decoration: underline;
}

.darkmatter:hover {
	text-decoration: underline;
}

textarea {
	background: transparent;
}

select {
	border: 1px solid #212121
}

/*Global Messgae */

.admin {
	color: #87ceeb;
}

.mod {
	color: yellow;
}

.ops {
	color: skyblue;
}

.messages_body .admin {
	font-weight: 700;
	color: #87ceeb;
}

.messages_body .mod {
	font-weight: 700;
	color: yellow;
}

.messages_body .ops {
	font-weight: 700;
	color: skyblue;
}

.res_max {
	color: #0F0
}

.res_name {
	color: #0098ff;
	font-weight: 700
}

.galaxy-alliance-member {
	color: #99FF66 !important;
}

.galaxy-alliance-friend {
	color: #99FFFF;
}

.galaxy-alliance-enemy {
	color: #FF0000;
}

.galaxy-short-noob,
.galaxy-username-noob {
	color: #a0ffa0
}

.galaxy-short-strong,
.galaxy-username-strong {
	color: #ffa0a0
}

.galaxy-short-vacation,
.galaxy-username-vacation {
	color: #659ec7
}

.galaxy-short-development,
.galaxy-username-development {
	color: #f6fa29
}

.galaxy-short-inactive,
.galaxy-username-inactive {
	color: #ccc
}

.galaxy-short-longinactive,
.galaxy-username-longinactive {
	color: #999
}

.galaxy-short-banned {
	text-decoration: line-through
}

.galaxy-short-event,
.galaxy-username-event {
	color: orange;
}

.galaxy-short-shield,
.galaxy-username-shield {
	color: cyan;
}

.ownattack {
	color: #6c3
}

.owncolony {
	color: #c1c1c1
}

.owndeploy {
	color: #5a3
}

.owndestroy {
	color: #ff4
}

.ownfederation {
	color: #c66
}

.ownharvest {
	color: #ceff68
}

.ownhold {
	color: #80a0c0
}

.destroy {
	color: #d4a017
}

.hold {
	color: #39c
}

.warning {
	color: #FF8040
}

.notice {
	color: #FF0
}

.return {
	color: #3c8c28
}

.allymember,
.colony,
.deploy,
.harvest,
.transport,
.success {
	color: lime
}

.owntransport {
	color: #a0ffa0
}

.ownespionage,
.ownmissile {
	color: #ffe070
}

.espionage,
.missile {
	color: #f60
}

.build_submit {
	background: none repeat scroll 0 0 transparent !important;
	border: 0 none;
	color: lime;
	font-weight: 600;
	padding: 3px;
}

.build_submit:hover {
	background: rgb(0, 102, 0) !important;
}

.build_submit[aria-disabled="true"] {
	background: none repeat scroll 0 0 transparent !important;
	cursor: not-allowed;
	color: rgb(150, 150, 150) !important;
}

.destroy_submit {
	background: none repeat scroll 0 0 transparent !important;
	border: 0 none;
	color: red;
	font-weight: 600;
	padding: 3px;
}

.destroy_submit:hover {
	background: rgb(102, 0, 0) !important;
}

.onlist {
	color: red;
	font-weight: bold;
}

/** HEADER **/

#header {}

#resourcesdiv {
	text-align: center;
}

/** MENU **/

#menu a {
	background: rgb(53, 69, 102);
	border-right: 1px solid black;
}

#menu a:hover {
	background: #212428;
}

#menu li.active a {
	background: #212428;
}

.menu-head a {
	height: 78px;
	background: none !important;
	padding: 0 !important;
	text-indent: -1000em;
}

.menu-head {
	background: url('./img/ogame-oyun-ici-logo2.png?v=1') no-repeat center;
}

.menucat1-head {
	background-image: url('./img/menu_eco1_mavi_ara.png?v=1');
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}

.menucat2-head {
	background-image: url('./img/menu_commu1_mavi_ara.png?v=1');
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}

.menucat3-head {
	background-image: url('./img/menu_extra1_mavi_ara.png?v=1');
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}

.menu-footer {
	background-image: url('./img/menu_foot_mavi_cizgi_ic.png?v=1');
}

@media only screen and (max-height: 865px) {
	.menu-head {
		-webkit-background-size: 135px;
		background-size: 135px;

		height: 53px;
	}

	.menucat1-head {
		background-image: url('./img/menu_eco1_mavi_ara20px.png?v=1');
		border-right: 1px solid #000;
		border-top: 1px solid #000;
	}

	.menucat2-head {
		background-image: url('./img/menu_commu1_mavi_ara20px.png?v=1');
		border-right: 1px solid #000;
		border-top: 1px solid #000;
	}

	.menucat3-head {
		background-image: url('./img/menu_extra_mavi1_ara20px.png?v=1'); // menu_acc_20px.png
		border-right: 1px solid #000;
		border-top: 1px solid #000;
	}

	.menu-footer {
		background-image: url('./img/menu_foot_mavi20px_cizgi.png?v=1');
	}
}

/* PLANETMENU */

#planet_menu_link {
	font-weight: 700;
}

#planet_menu_header {
	text-align: right;
}

#planet_menu_content li {
	text-align: center;
}


/* CONTENT */

.tip th {
	text-align: center
}

.top {
	vertical-align: top
}

.transparent,
#header td,
.tip td,
.tip th,
.raportMessage td {
	background: transparent;
	border: none;
	filter: none !important;
}

.mes_unread td {
	font-weight: 700;
}

a {
	text-decoration: none
}

th a,
.res_current {
	color: #FFF
}

.res_current_max,
.attack,
.federation,
.error {
	color: red
}

#fleetstatustable td {
	background: transparent;
	background-image: none;
	border: 0 none
}

.raportWin {
	color: lime;
}

.raportLose {
	color: red;
}

.ui-progressbar-value {
	background-image: url(img/processbar_v2.gif);
	background-position: top left;
	border-color: #000;
}

.spyRaportContainerHead {
	background: #212428;
	color: white;
	font-weight: 700;
	text-align: left;
	margin: 3px 0;
	padding: 3px;
}

.spyRaportContainerRow {
	border-top: 1px solid #DDD;
}

.spyRaportContainerHead+.spyRaportContainerRow {
	border-top: 0 none;
}

.ui-autocomplete,
.ui-state-hover,
.ui-state-default,
.ui-tabs-nav,
.ui-tabs,
.ui-progressbar,
.ui-progressbar-value {
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}

.ui-state-default {
	border: 1px solid #000 !important;
	background: #0D1014 !important;
}

.ui-state-default>a {
	cursor: pointer !important;
}

.ui-state-hover,
.ui-progressbar {
	border: 1px solid #000 !important;
	background: #212428 !important;
}

.ui-tabs-nav {
	padding: 0;
}

.ui-tabs {
	border: 1px solid #000;
	background: transparent;
	position: static;
}

.ui-tabs .ui-tabs-nav li {
	position: static;
}

.shop_package td {
	border: none;
	!important;
}

.shop_package form input {
	padding: 3px;
}

.package_name {
	font-size: 14px;
	font-weight: bold;
}

.small_space {
	height: 12px;
}

.text_bold {
	font-weight: bold;
}

.text_green_bold {
	color: #1c0;
	font-weight: bold;
}

.text_green {
	color: #1c0;
}

.text_red_bold {
	color: #f44;
	font-weight: bold;
}

.text_grey {
	color: grey;
}

.text_lightgrey {
	color: #ccc;
}

.href_back {
	text-align: center;
	font-style: italic;
	font-size: 11px;
}


/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 14px;
	border: 1px solid black;
	-webkit-border-radius: 14px;
	-moz-border-radius: 147px;
	border-radius: 147px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #8a8a8a;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #4966b8;
}

input:focus+.slider {
	box-shadow: 0 0 1px #4966b8;
}

input:checked+.slider:before {
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 14px;
}

.slider.round:before {
	border-radius: 50%;
}


#trader_proportion_span {
	float: right;
	padding-right: 3px;
	font-size: 10px;
}

.trade_input_disabled {
	background: transparent;
	border: none;
}

.planet_image {
	border: 1px solid #0D1014;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#expedition_banner {
	text-align: center;
	margin-top: -8px;
	margin-bottom: 8px;
}


#bank_history_container {
	max-height: 211px;
	overflow-y: scroll;
}

.bank_history_0 {
	color: red;
}

.bank_history_1 {
	color: lime;
}

.bank_history_2 {
	color: #91ff92;
}

.bank_history_3 {
	color: #eaf335;
}

.bank_history_4 {
	color: orange;
}

/*
modifications to help make mobile version easier to made
 */

.clock_image {
	margin-bottom: 2px;
	margin-right: 6px;
}

.production_time {
	float: right;
	padding-top: 12px;
}

.production_resource_remaining {
	float: left;
	text-align: left;
	padding-top: 12px;
}

.production_td {
	padding: 10px;
}

.production_img {
	width: 150px;

}

.production_arrows_td {
	width: 64px;
}

.production_img_td {
	width: 150px;
	vertical-align: middle !important;
}

.submit_button_text {
	background: transparent;
	border: none;
	padding: 0;
}

.submit_button_text:hover {
	color: #c80000;
	text-decoration: none;
}

.ally_station_description {
	text-align: left;
	padding-left: 8px;
}

.lotteryPage input,
.lotteryPage select,
.lotteryPage option,
.lotteryPage textarea {
	background: #232d44 !important;
}

.lotteryPage input {
	border: 1px solid #747a84 !important;
	text-align: center;
}

/* Mobile */
.divTh {
	background: rgb(35, 45, 68);
	color: #fff;
	border: 1px solid #212121;
}

.divTd {
	background: rgb(53, 69, 102);
}

#mobile_res_div_container {
	background-image: linear-gradient(-45deg, rgba(25, 128, 253, 0.4), rgba(20, 8, 31, 0.8));
	background-image: -webkit-linear-gradient(-45deg, rgba(25, 128, 253, 0.4), rgba(20, 8, 31, 0.8));
}

.setCat.active td {
	background: rgb(35, 45, 68);
	color: white;
	font-weight: 700;
	cursor: pointer;
}

.setCat:hover td {
	background: rgb(35, 45, 68);
	color: white;
	font-weight: 700;
	cursor: pointer;
}

.quota {
	background: #283755;
	text-align: left;
	padding: 7px 15px;
	font-size: 11.5px;
}

.quota-owner {
	background: rgb(100, 135, 212);
	padding: 5px 15px;
	color: #FFF;
	font-weight: 500;
	text-align: left;
	font-size: 11px;
}

.quota-owner a:hover {
	color: #c80000;
	text-decoration: none
}

/* New Version Theme for EpicBlue

button, input[type="button"], input[type="reset"], input[type="submit"] {
	transition: all 0.2s;
}

button[type="button"]:hover, input[type="button"]:hover, input[type="submit"]:hover {
	background: #324672 !important;
	box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.5);
}

*/